@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap");

* {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Noto Sans", sans-serif;
  // box-sizing: border-box;
}

:root,
body {
  // background-color: #e5e5e2;
  background-color: #f2f2f1;
  // background-color: #dad7cd;
}

.navbar {
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);

  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 3rem;
  }

  .container-fluid {
    padding: 0.5rem 3rem 0rem 3rem;
  }

  .nav-link {
    font-size: 1.4rem;
    font-weight: lighter;
  }

  #profile-link {
    display: none;
  }

  .btn,
  .nav-link {
    background-color: #ffffff00;
    color: black;
    border: #ffffff00;

    &:hover,
    &.selected {
      background-color: #559c73;
      color: white;
      border-radius: 5px;
    }
  }

  i {
    font-size: 1.6rem;
    background-color: transparent;
  }
}

footer {
  // background-color: #559c73;
  background-color: #3a5a40;
}

/////////////////////////////// Login Modal
.btn-close {
  float: right;
}

.modal-content {
  background: linear-gradient(to bottom right, #559c73, #305030);
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#forgot-password {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.buttons {
  border-radius: 20px;
  border: 1px solid #a2cc9d;
  background-color: #a2cc9d;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  &.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
}

.modal {
  form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }

  input {
    background-color: #d6e8d2;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    min-height: 420px;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: #477050;
    background: -webkit-linear-gradient(to right, #559c73, #477050);
    background: linear-gradient(to right, #559c73, #477050);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  select {
    background-color: #d6e8d2;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: #757575;
  }
}

///////////// Home
#home {
  height: 90vh;
  margin-bottom: 1rem;

  .corner-image-bottom-left,
  .corner-image-bottom-right {
    position: absolute;
    bottom: 0;
    padding: 0;
  }

  .corner-image-bottom-left img,
  .corner-image-bottom-right img {
    min-width: 75%;
    height: 90vh;
  }

  .corner-image-bottom-left {
    left: 0;
  }

  .corner-image-bottom-right {
    right: 0;

    img {
      float: right;
    }
  }

  .masthead {
    min-height: 30rem;
    display: table;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    z-index: 1;
    position: relative;

    h1 {
      font-size: 12rem;
      color: black;
    }

    #explore {
      background-color: #34a060;
      border-color: #34a060;
      font-size: 1.5rem;
      padding: 0.8rem 1.8rem 0.8rem 1.8rem;
      cursor: pointer;
    }
  }
  @media (min-width: 600px) and (max-width: 768px) {
    margin-bottom: 1.5rem;
    .corner-image-bottom-left,
    .corner-image-bottom-right {
      max-width: 100%;
    }
    .corner-image-bottom-left img,
    .corner-image-bottom-right img {
      min-width: 70%;
      height: 95vh;
    }
  }
  @media (min-width: 780px) and (max-width: 1000px) {
    margin-bottom: 2.5rem;
  }
  @media (max-height: 850px) and (min-width: 600px) {
    margin-bottom: -0.3rem;
  }
  @media (max-width: 600px) {
    margin-bottom: 0;

    @media (max-width: 600px) {
      .masthead .container h1 {
        font-size: 6rem;
      }
    }
  }
}

/////////// Carousel
#carousel-intro {
  height: 100vh;

  #carousel-header {
    font-size: 4rem;
    color: black;
  }

  #intro-type {
    margin-top: 2rem;
    width: 35vw;

    .intro-types {
      background-color: transparent;
      border: none;
      color: black;
      font-weight: bold;
      font-size: 1.2rem;

      &.active {
        background-color: #34a060;
        // background-color: #a4c798;
      }
    }
  }

  #carouselControls {
    .carousel-inner {
      width: 90vw;
      display: flex;
      align-items: center;
      padding: 1em;

      // #carousel-outdoor {
      //   display: none;

      //   .carousel-item.active {
      //     display: flex;
      //     flex-direction: row;
      //     justify-content: center;
      //   }
      // }
      // #carousel-indoor {
      //   // display: none;

      //   .carousel-item.active {
      //     display: flex;
      //     flex-direction: row;
      //     justify-content: center;
      //   }
      // }
      // #carousel-hanging {
      //   display: none;

      //   .carousel-item.active {
      //     display: flex;
      //     flex-direction: row;
      //     justify-content: center;
      //   }
      // }

      .card {
        margin: 0 0.5em;
        background-color: transparent;
        border: none;
        border-radius: 0;

        img {
          max-width: 100%;
          max-height: 100%;
        }

        .card-body {
          margin-top: 1rem;
          .card-title {
            display: flex;
            justify-content: center;
            font-weight: 300;
          }
          .card-text {
            text-align: center;
            font-weight: 800;
            font-size: 1rem;
          }
        }
      }

      .carousel-control-prev,
      .carousel-control-next {
        background-color: #34a060;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        top: 50%;
        margin: 1rem;
      }
      @media (min-width: 768px) {
        .card img {
          height: 23em;
        }
      }
    }
  }
  @media (max-width: 768px) {
    #carousel-header {
      margin-top: 5rem;
      font-size: 3.5rem;
      color: black;
    }
  }
}

///////////////// Cart
