@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

#checkout {
  background: #f2f2f1;
  border: none;
}
.card-body {
  background-color: #34a060;
}
.card.bg-primary.text-white {
  border-color: #f2f2f1;
}
#checkout-header {
  font-size: 18px;
}
#options {
  justify-content: space-around;
  width: 12rem;
}
#amount-div {
  display: flex;
}
.row {
  margin-right: auto;
  margin-left: auto;
}
.fa-shop {
  transition: transform 0.1s ease;
}

.fa-shop:hover {
  transform: scale(1.2);
}
